include delta/config/delta.yaml
include delta/config/networks/*.yaml
include delta/extensions/sources/snap_process_sentinel1.sh
include delta/extensions/sources/sentinel1_default_snap_preprocess_graph.xml
