general:
  # negative is all
  gpus:              -1
  stop_on_input_error: true # If false skip past bad input files without halting training

io:
  threads:           1
  # size of tile to load into memory at a time as [rows, columns]
  tile_size:         [256, 1024]
  # number of different images to interleave at a time when loading
  interleave_images: 5
  # When resuming training with a log_folder, skip input image where we have
  # already loaded this many tiles.
  resume_cutoff:     5000
  cache:
    # default is OS-specific, in Linux, ~/.cache/delta
    dir:              default
    limit:            8

dataset:
  log_folder:         ~ # Storage location for any record keeping files about the input dataset
  images:
    type:             tiff
    # preprocess the images when loading (i.e., scaling)
    preprocess:
      enabled:        true
      scale_factor:   default
    nodata_value:     ~
    directory:        ~
    extension:        default
    file_list:        ~
    files:            ~
  
  labels:
    type:             tiff
    preprocess:
      enabled:        false
      scale_factor:   default
    nodata_value:     ~
    directory:        ~
    extension:        default
    file_list:        ~
    files:            ~

  # can either be a list of classes or the number of classes,
  # if the labels are 0, 1, 2, 3
  classes:            4
  # labels are 1, 2, 3, 4; with names and display colors
  # weight is optional, but required for either all or none
  #classes:
  #  - 1:
  #      name: Water
  #      color: 0x67a9cf
  #      weight: 5.0
  #  - 2:
  #      name: No Water
  #      color: 0xf6eff7
  #      weight: 1.0
  #  - 3:
  #      name: Maybe Water
  #      color: 0xbdc9e1
  #      weight: 1.0
  #  - 4:
  #      name: Cloud
  #      color: 0x02818a
  #      weight: 1.0

train:
  network:
    model:
      yaml_file:     networks/convpool.yaml
      params:        ~
      layers:        ~
  chunk_stride:    1
  batch_size:      500
  steps:           ~ # number of batches to train on (or ~ for all)
  epochs:          5
  loss_function:   sparse_categorical_crossentropy
  metrics:
    - sparse_categorical_accuracy
  optimizer:       adam
  validation:
    steps:         1000
    # if true, skips the first steps from the training set to use for validation instead
    from_training: true
    # otherwise uses the first samples from this dataset:
    images:
      type:        tiff
      preprocess:
        enabled:        true
        scale_factor:   default
      nodata_value: ~
      directory:   ~
      extension:   default
      file_list:   ~
      files:       ~
    labels:
      type:        tiff
      preprocess:
        enabled:        false
        scale_factor:   default
      nodata_value: ~
      directory:   ~
      extension:   default
      file_list:   ~
      files:       ~
 
mlflow:
  # default to ~/.local/share/delta/mlflow
  enabled:        true
  uri:            default
  # rate in batches to save metrics
  frequency:      10000
  experiment_name: Default
  # rate in batches to save model checkpoints
  checkpoints:
    frequency:          10000
    only_save_latest:   true

tensorboard:
  enabled:        false
  # default to ~/.local/share/delta/tensorboard
  dir:            default
