general:
  # negative is all
  gpus:              -1
  stop_on_input_error: true # If false skip past bad input files without halting training

io:
  threads:           1
  # size to load in memory at a time (width x height x bands x bit-width x chunk-size^2)
  block_size_mb:     1
  # number of different images to interleave at a time when loading
  interleave_images: 5
  # ratio of tile width and height when loading images
  tile_ratio:        5.0
  # When resuming training with a log_folder, skip input image where we have
  # already loaded this many tiles.
  resume_cutoff:     5000
  cache:
    # default is OS-specific, in Linux, ~/.cache/delta
    dir:              default
    limit:            8

dataset:
  log_folder:         ~ # Storage location for any record keeping files about the input dataset
  images:
    type:             tiff
    # preprocess the images when loading (i.e., scaling)
    preprocess:
      enabled:        true
      scale_factor:   default
    nodata_value:     ~
    directory:        ~
    extension:        default
    file_list:        ~
    files:            ~
  
  labels:
    type:             tiff
    preprocess:
      enabled:        false
      scale_factor:   default
    nodata_value:     ~
    directory:        ~
    extension:        default
    file_list:        ~
    files:            ~

train:
  network:
    chunk_size:      16
    output_size:     8
    classes:         4
    model:
      yaml_file:     networks/convpool.yaml
      params:        ~
      layers:        ~
  chunk_stride:    1
  batch_size:      500
  steps:           ~ # number of batches to train on (or ~ for all)
  epochs:          5
  loss_function:   sparse_categorical_crossentropy
  metrics:
    - sparse_categorical_accuracy
  optimizer:       adam
  validation:
    steps:         1000
    # if true, skips the first steps from the training set to use for validation instead
    from_training: true
    # otherwise uses the first samples from this dataset:
    images:
      type:        tiff
      preprocess:
        enabled:        true
        scale_factor:   default
      nodata_value: ~
      directory:   ~
      extension:   default
      file_list:   ~
      files:       ~
    labels:
      type:        tiff
      preprocess:
        enabled:        false
        scale_factor:   default
      nodata_value: ~
      directory:   ~
      extension:   default
      file_list:   ~
      files:       ~
 
mlflow:
  # default to ~/.local/share/delta/mlflow
  enabled:        true
  uri:            default
  # rate in batches to save metrics
  frequency:      10000
  experiment_name: Default
  # rate in batches to save model checkpoints
  checkpoints:
    frequency:     10000
    save_latest:   true

tensorboard:
  enabled:        false
  # default to ~/.local/share/delta/tensorboard
  dir:            default
